body {
	background: #F0E68C
}

#banner {
	box-sizing: border-box;
	border: 5px solid #FFA500;
	width:49%;
}

#titulo{
	box-sizing: border-box;
	border: 5px solid #FFA500;
	text-align: center;
	font-size: 40px;
	font-style: italic;
    text-transform: uppercase;
    background: #FFD700

}

#titulo2{
	text-align: left;
	font-size: 35px;
	font-style: oblique

}

ul{
	box-sizing: border-box;
	border: 5px solid #FFA500;
	background: #FFD700
}

#banner2 {
	box-sizing: border-box;
	border: 5px solid #FFA500;
	width: 49%
}
